@font-face {
  font-family: Circular;
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src: url(../assets/fonts/CircularSpUIv3T-Light.afd9ab26.woff2) format("woff2");
}

@font-face {
  font-family: Circular;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url(../assets/fonts/CircularSpUIv3T-Book.3466e0ec.woff2) format("woff2");
}

@font-face {
  font-family: Circular;
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url(../assets/fonts/CircularSpUIv3T-Bold.8d0a45cc.woff2) format("woff2");
}
